.why {
  background: var(--second-bg);
  padding-block-end: 50px; 
  padding-block-start: 50px; 
}

.why__grid {
  display: grid;
  grid-template-columns: 70% 60%;   
  align-items: end;                
  column-gap: 72px;
  position: relative;
}

.why__media {
  position: relative;
  isolation: isolate;
  overflow: visible;
}

.why__media::after {
  content: "";
  position: absolute;
  top: -90px;          
  right: -60px;
  width: 280px;
  height: 110px;
 
  z-index: -1;
}

.why__img {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: translateY(-50px);  
  z-index: 1;                    
}

.why-card {
  position: relative;
  background: #fff;
  padding: 64px 72px;
  max-inline-size: 620px;
  transform: translateX(-300px);
  z-index: 2;
}

.why-card__eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #6D6E76;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 16px;
}

.why-card__title {
  font-size: 42px;
  line-height: 1.15;
  font-weight: 800;
  color: #232536;
  margin-bottom: 24px;
  max-width: 22ch;
}

.why-card__text {
  color: #6D6E76;
  font-size: 17px;
  line-height: 1.75;
  margin-bottom: 32px;
}

.why-card__btn {
  display: inline-block;
  font-weight: 700;
  color: #232536;
  background: #FFD050;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 32px;
}
