<section class="about">
  <div class="container about__inner">
    <article class="about__block">
      <h3 class="about__label">ABOUT US</h3>
      <h2 class="about__title">
        We are a community of<br>
        content writers who share their learnings
      </h2>
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="#" class="about__link">Read More &gt;</a>
    </article>

    <article class="about__block">
      <h3 class="about__label">OUR MISSION</h3>
      <h2 class="about__title">
        Creating valuable content for<br>
        creatives all around the world
      </h2>
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </article>
  </div>
</section>
