<section class="authors" aria-labelledby="authorsTitle">
    <div class="container">
      <h2 class="authors__title" id="authorsTitle">List of Authors</h2>
  
      <div class="authors__grid">
        <article class="authors__person">
          <img class="authors__person__photo" src="images/authors/floyd.png" alt="Floyd Miles">
          <h3 class="authors__person__name">Floyd Miles</h3>
          <p class="authors__person__role">Content Writer @Company</p>
          <div class="authors__person__socials">
            <a href="#"><img src="images/icons/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="images/icons/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="images/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="images/icons/linkedin.png" alt="LinkedIn"></a>
          </div>
        </article>
  
        <article class="authors__person">
          <img class="authors__person__photo" src="images/authors/dianne.png" alt="Dianne Russell">
          <h3 class="authors__person__name">Dianne Russell</h3>
          <p class="authors__person__role">Content Writer @Company</p>
          <div class="authors__person__socials">
            <a href="#"><img src="images/icons/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="images/icons/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="images/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="images/icons/linkedin.png" alt="LinkedIn"></a>
          </div>
        </article>
  
        <article class="authors__person">
          <img class="authors__person__photo" src="images/authors/jenny.png" alt="Jenny Wilson">
          <h3 class="authors__person__name">Jenny Wilson</h3>
          <p class="authors__person__role">Content Writer @Company</p>
          <div class="authors__person__socials">
            <a href="#"><img src="images/icons/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="images/icons/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="images/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="images/icons/linkedin.png" alt="LinkedIn"></a>
          </div>
        </article>
  
        <article class="authors__person">
          <img class="authors__person__photo" src="images/authors/leslie.png" alt="Leslie Alexander">
          <h3 class="authors__person__name">Leslie Alexander</h3>
          <p class="authors__person__role">Content Writer @Company</p>
          <div class="authors__person__socials">
            <a href="#"><img src="images/icons/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="images/icons/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="images/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="images/icons/linkedin.png" alt="LinkedIn"></a>
          </div>
        </article>
      </div>
    </div>
  </section>
  