<header class="header">
      <div class="container header__inner">
        <a class="header__logo" href="/" aria-label="Finsweet home">
          <span class="header__logo-text">Finsweet</span>
        </a>

        <nav class="header__nav nav" aria-label="Главное меню">
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link nav__link--active" href="#">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>            
            <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Contact us</a></li>
          </ul>
        </nav>
        <div class="header__action">
          <button type="button" class="button button--light">Subscribe</button>
          <button class="header__theme button button--ghost" id="themeToggle" aria-label="Сменить тему">
          🌙
        </button>
        </div>
      </div>
    </header>